/* This defines styles and classes used in the book */
body { margin: 2em; text-align: justify; font-size: medium; font-family: PMingLiU;}
code { font-family: monospace; }
h1, h2, h3, h4, h5, h6 { text-align: left; font-family: SimHei;}
div.bookinfo { margin: 20px; padding-left: 10px; border-left: 5px solid #ccc; }
div.abstract { margin: 20px; padding-left: 10px; border-left: 5px solid #ccc; min-height: 100px; }
div.declare  { margin: 20px; padding-left: 10px; border-right: 5px solid #ccc; min-height: 100px; }
div.abstract p { margin: 0px; }
h1.title { font-size: 2em; }
h1.subtitle { font-size: 1.5em; font-family: STLiTi; }
h2.author { font-size: 1.2em; font-family: KaiTi; }
h3.date { font-size: 1.2em; font-family: Verdana; }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
blockquote {font-family: kaiti;}
